1.

In [2]:
import pandas as pd
print(pd.__version__)

1.1.4

2.

In [3]:
import numpy as np
arr=np.array(['Python','numpy','pandas','matplotlib','seaborn','statistics','probability','data science'])
series=pd.Series(arr)
print(series)

0          Python
1           numpy
2          pandas
3      matplotlib
4         seaborn
5      statistics
6     probability
7    data science
dtype: object

3.

In [6]:
df=pd.DataFrame(series)
#here index of Series is shown as column of dataframe
df['index']=df.index
print(df)

              0  index
0        Python      0
1         numpy      1
2        pandas      2
3    matplotlib      3
4       seaborn      4
5    statistics      5
6   probability      6
7  data science      7

4.

In [10]:
import seaborn as sns
print(sns.get_dataset_names())
mpg=sns.load_dataset('mpg')

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']

5.

In [15]:
#print(mpg.head())
print(mpg['origin'].unique())

['usa' 'japan' 'europe']

6.

In [20]:
#print(mpg['origin'].value_counts())
print(mpg.loc[mpg['origin'] == 'usa'])

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
392  27.0          4  ...     usa           chevrolet camaro
393  27.0          4  ...     usa            ford mustang gl
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[249 rows x 9 columns]